@tailwind base;
@tailwind components;
@tailwind utilities;

@import ('https://cdn.tailwindcss.com');
@layer base {
  body {
    @apply bg-[#fff0e4] md:pt-[20px] md:px-[9rem] p-0;
  }

  /* navbar */
  /* #navbar {
    display: flex;
    justify-content: space-between;
  }

  #navbar > nav {
    width: 30rem;
  }
  #navbar > nav > ul {
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  #navbar > nav > ul > li {
    list-style: none;
  }
  
  #navbar > nav > ul > li > a {
    color: #a11b1b;
    text-decoration: none;
    padding: 0.5rem;
  } */
  /* navbar */
  /* #navbar > nav > ul > li:hover {
    background-color: #ffd399;
    border-radius: 5px;
    padding: 4px 0;
  } */
}

/* home */

/* home */
