@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff0e4;
    padding: 20px 124px 0 124px;
  }
  /* navbar */
  #navbar {
    display: flex;
    justify-content: space-between;
  }

  #navbar > nav {
    width: 30rem;
  }
  #navbar > nav > ul {
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  #navbar > nav > ul > li {
    list-style: none;
  }
  #navbar > nav > ul > li:hover {
    background-color: rgb(255, 211, 153);
    border-radius: 5px;
    padding: 4px 0;
  }
  #navbar > nav > ul > li > a {
    color: #a11b1b;
    text-decoration: none;
    padding: 0.5rem;
  }
  /* navbar */
}

/* home */

/* home */
